body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    background-color: #ffffff;
    margin: 20px;
    padding: 10px;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: left;
}
main {
    padding: 50px;
}
h1 {
    font-size: 50px;
    color: #000000;
}
p {
    font-size: 16px;
    color: #000000;
}
footer {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
navbar {
    display: flex; /* Use flexbox */
    justify-content: flex-end; /* Align items to the right */
    background-color: #333; /* Dark background for the navbar */
    padding: 10px 20px; /* Add some padding around the navbar */
}
navbar a {
    color: white; /* White text */
    text-decoration: none; /* Remove underline */
    padding: 10px 20px; /* Space out the links */
    margin-left: 20px; /* Add space between links */
}
navbar a:hover {
    background-color: #ddd; /* Light background on hover */
    color: black; /* Dark text on hover */
}
.title {
    font-size: 100px;
    text-align: center;
    padding: 20px;
    color: #000000;
}